

*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;

}

li{
    display: inline;
}

ul li a{ 
    font-size: 30px;
    padding: 15px;
    color: white;
}

ul li a:hover{
    opacity: 0.7;
}

h1{
    font-size: 150px;
    font-family: 'Limelight', cursive;
    text-shadow: 2px 2px 8px #191919;
    position:relative;
    color:transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 0.8s;
    text-align: center;

}

h2, h3, h4{
    font-family: Limelight;
    font-size: 50px;
    color: rgb(92, 34, 34);
    text-shadow: 2px 2px 8px #f4efef;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h5{
    font-family: Limelight;
    font-size: 50px;
    color: rgb(92, 34, 34);
    text-shadow: 2px 2px 8px #f4efef;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px; 
}

body{
    background-image: url(./Fotos/vinho.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    padding: 150px;
}

#presentation .animate__animated {
    text-align: center;
}

#presentation .cta{
    padding: 10px 30px;
    color: rgb(92, 34, 34);
    background-color: rgb(135, 73, 73);
    font-size: 30px;
    font-family: Proza Libre;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 50px;
    transition: .5s ease;
    box-shadow: 3px 3px 4px black;
    transition-property: background-color, color;
    border-radius: 3px;
    text-decoration: none;
}

#presentation .cta:hover{
color: white;
font-weight: 700;
background-color: rgb(100, 53, 53);
}

#presentation::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

@keyframes text_reveal{
    100%{
        color: white;
    }
}

@media (max-width:640px) {

    body{
        padding: 50px;
        background-size: cover;
        height: 100vh;
    }
    
    h1{
        font-size: 50px;
        padding-top: 30px;
    }
    
    h2, h3, h4, h5{
        font-size: 35px;
    }

    ul li a{ 
        font-size: 20px;
        padding: 10px;
        padding-right: 2px;
        color: white;
    }
    
    #presentation .cta{
        font-size: 15px;
        
    }
}


    

